div {
    margin-top: 18%;
    text-align: center;
    font-family: DejaVu Sans Mono, monospace;
    padding: 0%;
    text-transform: uppercase;
}

h1 {
    letter-spacing: 6px;
    font-weight: 900px;
}

h5 {
    letter-spacing: 20px;
    font-weight: 400px;
}

h1 + h5 { 
    margin-top: -30px; 
}