<div style="align-items: right;">
    <h3 style="font-size:3vw">Personal Achievements</h3>
    <!-- <p>achievements listed / widgets here</p> -->
<uL>
    <!-- AWS Certified Cloud Practitioner Badge -->
    <li class="logo">
        <a href="https://www.credly.com/badges/ecdedefb-01a6-4d6c-8b72-ac118fccf7ac/public_url">
        <img src="https://images.credly.com/images/00634f82-b07f-4bbd-a6bb-53de397fc3a6/image.png" alt="AWS Certified Cloud Practitioner" width="100px" height="100px" padding="50px">
        </a>
    </li>
    <!-- Adobe Certified Associate in Visual Communications Badge -->
    <li class="logo">
        <a href="https://www.credly.com/badges/55c136c9-e58a-471d-bcc8-740ba5c7f0a7/public_url">
        <img src="https://images.credly.com/images/dd12d618-eb57-4b48-a2ab-eb3c339af869/c72c1238fed048c02681eba5b212c743b82b1d61.png" alt="Adobe Certified Associate in Visual Communications" width="100px" height="100px" padding="50px">
        </a>
    </li>
</uL>
</div>