<div id="ab">
    <h3 style="font-size:3vw">About</h3>
    <p>I am an experienced software developer with a strong background from quality assurance to building and maintaining software architecture. 
    <br>
    <br>
    I find myself very self motivated and eager to take on challenges as an opportunity for improvement. 
    Very passionate about cloud security and am actively honing my skills towards this. 
    <br>
    Currently I am working towards obtaining my AWS Certified Solutions Architect Associate Certification.</p>
</div>