<div id="exp" >
    <h3 style="font-size:3vw">Expertise</h3>




<ul>
    <!-- Java Logo -->
    <li class="logo">
            <img src="https://cdn-icons-png.flaticon.com/512/152/152760.png" alt="Java" width="100px" height="100px" padding="40px">
    </li>

    <!-- Python Logo -->
    <li class="logo">
            <img src="https://cdn-icons-png.flaticon.com/512/5968/5968544.png" alt="Python" width="100px" height="100px" padding="40px">
    </li>

    <!-- Node.js Logo -->
    <li class="logo">
            <img src="https://static-00.iconduck.com/assets.00/logo-nodejs-icon-877x1024-err74w5r.png" alt="Node.js" width="100px" height="100px" padding="40px">
    </li>

    <!-- Angular Logo -->
    <li class="logo">
        <img src="https://seeklogo.com/images/A/angular-logo-1AE950DCA9-seeklogo.com.png" alt="Angular" width="100px" height="100px" padding="40px">
    </li>

    <!-- C++ Logo -->
    <li class="logo">
        <img src="https://global-uploads.webflow.com/6047a9e35e5dc54ac86ddd90/63065001ce321bb709375dfc_7262c02b.png" alt="C++" width="100px" height="100px" padding="50px">
    </li>

    <!-- AWS Logo -->
    <li class="logo">
        <img src="https://cdn.iconscout.com/icon/free/png-256/free-aws-3215369-2673787.png" alt="AWS" width="100px" height="100px" padding="50px">
    </li>

    <!-- TypeScript Logo -->
    <li class="logo">
        <img src="https://cdn.iconscout.com/icon/free/png-256/free-typescript-2336947-1982828.png?f=webp" alt="TypeScript" width="100px" height="100px" padding="50px">
    </li>

   <!-- Azure Logo -->
   <li class="logo">
        <img src="https://cdn-icons-png.flaticon.com/512/873/873158.png" alt="Azure" width="100px" height="100px" padding="50px">
    </li>

    <!-- MongoDB Logo -->
   <li class="logo">
        <img src="https://cdn.icon-icons.com/icons2/2389/PNG/512/mongodb_logo_icon_145054.png" alt="MongoDB" width="100px" height="100px" padding="50px">
    </li>

    <!-- Splunk Logo -->
    <li class="logo">
        <img src="https://www.svgrepo.com/show/446019/splunk.svg" alt="Splunk" width="100px" height="100px" padding="50px">
    </li>

    <!-- Docker Logo -->
    <li class="logo">
        <img src="https://cdn.icon-icons.com/icons2/2622/PNG/512/brand_docker_icon_157978.png" alt="Docker" width="100px" height="100px" padding="50px">
    </li>

    <!-- Jenkins Logo -->
    <li class="logo">
        <img src="https://creazilla-store.fra1.digitaloceanspaces.com/icons/3243038/jenkins-icon-md.png" alt="Jenkins" width="100px" height="100px" padding="50px">
    </li>


    <!-- JIRA Logo -->
    <li class="logo">
        <img src="https://cdn.icon-icons.com/icons2/2428/PNG/512/jira_black_logo_icon_147119.png" alt="JIRA" width="100px" height="100px" padding="50px">
    </li>

    <!-- Postman Logo -->
    <!-- <li class="logo">
        <img src="https://cdn4.iconfinder.com/data/icons/logos-brands-5/24/postman-512.png" alt="Postman" width="100px" height="100px" padding="50px">
    </li> -->

    <!-- Appium Logo -->
    <li class="logo">
        <img src="https://brandslogos.com/wp-content/uploads/images/large/appium-logo-black-and-white.png" alt="Appium" width="100px" height="100px" padding="50px">
    </li>

    <!-- Cucumber Logo -->
    <li class="logo">
            <img src="https://www.svgrepo.com/show/330243/cucumber.svg" alt="Cucumber" width="100px" height="100px" padding="50px">
    </li>
</ul>


</div>