<div>
    <ul>
        <li class="main">
            <a href="/">
                <Span>KatrinaThielen.</Span>
            </a>
        </li>

        <li class="guide">
            <a href="/">
                <Span>// projects</Span>
            </a>
        </li>

        <li class="guide">
            <a href="/">
                <Span>// expertise</Span>
            </a>
        </li>

        <li class="guide">
            <a href="/">
                <Span>// about</Span>
            </a>
        </li>
    </ul>
</div>