<div>
<!-- Home guide button -->
    <ul>
        <li class="main">
            <a href="/">
                <Span>KatrinaThielen.</Span>
            </a>
        </li>
<!-- Navigate to Projects section -->
        <li class="guide">
            <a href="#proj">
                <Span>// projects</Span>
            </a>
        </li>
<!-- Navigate to expertise / technologies section -->
        <li class="guide">
            <a href="#exp">
                <Span>// expertise</Span>
            </a>
        </li>
<!-- Navigate to about section -->
        <li class="guide">
            <a href="#ab">
                <Span>// about</Span>
            </a>
        </li>
    </ul>
</div>